@mixin form-block {
  display: flex;
  align-items: center;
}

@mixin form-block-label {
  width: 90px;
  padding: $padding / 2;
  cursor: default;
  font-size: 0.9rem;
  line-height: 1.3;
}

@mixin form-block-input {
  @include theme-border-radius;

  display: block;
  height: 30px;
  width: 75px;
  padding: 0 $padding / 4;
  color: $black;
  border: 2px solid $secondary-color;
  font-size: 0.8rem;

  &:active,
  &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 0 3px rgba($primary-color, 0.4);
  }
}
