$bg-dark:       #1b2833;
$bg-light:      #223240;

$primary:       #6697bf;
$secondary:     #44647f;
$success:       green;
$info:          cyan;
$warning:       yellow;
$danger:        red;

$black: #161616;
$white: #fdfdfd;

$border-radius: 5px;
