@import url('https://fonts.googleapis.com/css?family=Marcellus+SC|Open+Sans');

$background-dark-color: #16222d;
$background-light-color: #283846;

$primary-color: #6697bf;
$secondary-color: #44647f;

$unique-color: #af6025;
$rare-color: #ffff77;
$magic-color: #8888ff;

$corrupted-color: #b41b24;
$unidentified-color: #b41b24;

$pseudo-color: #64B44B;
$explicit-color: #a7a7a7;
$enchant-color: #9b59bb;
$crafted-color: #5bb0ff;
$implicit-color: #d89454;
$monster-color: #cb4938;

$socket-red-color: #b40000;
$socket-green-color: #00b400;
$socket-blue-color: #0000b4;

$font-family-regular: 'Open Sans', sans-serif;
$font-family-accent: 'Marcellus SC', serif;

$black: #161616;
$white: #fdfdfd;

$border-radius: 10px;

$padding: 20px;
$sidebar-width: 550px;
$navbar-height: 50px;

$corner-background-light-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABsklEQVR4Ad3ZAeQUQRTH8d+/KlQSUSJQ52bH5cS6ZuaE4W7f3tERWgAgEBAAYQkSEAkAEiBFAhJUlCIRQVARAEjkdPUWBgsC7G++PAfgc4y3O4vCy98Bz2+dz8bJY+vkjvXVtcKvYuGkHM+WZ8+7xalJjEehDQ2y1XlvfHVbfzcjtz6G/20I/7oN8sQ4uTqdyhH0GzrEenlrnVwvLi5OoBcL5JXOBr1YILvCV4+6Q4oUH+Tj2C0vIcUH+anTTibNIWiUEOPlmS3r00jxQbY6LdDug8YK+d4/C3QQ6+uXaR8QQ56W5eYwNFqI9fKgLMuD0JghdwHsQWOGPEwIVojx9fO05GghQd6lFxlaSJAf5+ZyEhoz5I/19RIaNcR6uQWNHfIm7QpiyK/utgIaO6SFxg75mp6hmCE2yBVo7JAX0OghaWcwQ4yTDwD2+CGhasBYb4N/QdPsp4cYLzehsUN2aYuTQ15Do4d0V/w5QHbdZyx+SJBP0Pghrr4H9tISZI/9fKSMl2/Ioe7CDTlkvdzPBXIDOVQEuYwcGs9XszwgQQrk0MitzyCHLsR4HDkUYzyADPoH93GIPngLoFUAAAAASUVORK5CYII=');
