@import url('https://fonts.googleapis.com/css?family=Catamaran|Lato');

$background-dark-color: #16222d;
$background-light-color: #283846;

$primary-color: #6697bf;
$secondary-color: #44647f;

$unique-color: #af6025;
$rare-color: #ffff77;
$magic-color: #8888ff;

$pseudo-color: #64B44B;
$explicit-color: #a7a7a7;
$enchant-color: #9b59bb;
$crafted-color: #5bb0ff;
$implicit-color: #d89454;
$monster-color: #cb4938;

$socket-red-color: #b40000;
$socket-green-color: #00b400;
$socket-blue-color: #0000b4;

$font-family-regular: 'Lato', sans-serif;
$font-family-accent: 'Catamaran', sans-serif;

$black: #161616;
$white: #fdfdfd;

$border-radius: 10px;

$padding: 20px;
$sidebar-width: 550px;
