<h1 class="page-error-maintenance__title">
  {{t 'page.error_maintenance.title'}}
</h1>

<img src="/assets/images/logo-cry-large.png" alt="Oh noes" class="page-error-maintenance__logo">

<p class="page-error-maintenance__description">
  {{t 'page.error_maintenance.description'}}
</p>
