<label class="field-switch__label">{{label}}</label>
<button {{action toggleValue}} class="field-switch__button {{unless isOff 'field-switch__button--on'}}" type="button">
  {{toggleableValueLabel}}
</button>