<label class="field-switch__label">{{label}}</label>

<button {{action toggleValue}} class="field-switch__button {{if isOff 'field-switch__button--off'}}" type="button">
  {{toggleableValueLabel}}
</button>