.search-form__form-section {
  margin-bottom: $padding;
}

.search-form__actions {
  display: flex;
  align-items: center;
}

.search-form__actions-submit {
  flex-grow: 1;
  height: 40px;
  font-size: 1.2rem;
}

.search-form__actions-clear {
  margin-left: $padding / 2;
}
