& {
  display: flex;
}

.page-search-results__sidebar {
  @include sidebar;

  position: relative;
  margin-bottom: 150px;

  &::after {
    position: absolute;
    left: 0;
    bottom: -75px;
    display: block;
    content: '';
    width: 100%;
    height: 75px;
    background: linear-gradient($background-light-color, $background-dark-color);
  }
}

.page-search-results__container {
  flex: 1 1 auto;
}
