<div class="page-search-results__sidebar">
  {{pos-search-form
    key=key
    onSearched=(action showResults)}}
</div>

<div class="page-search-results__container">
  {{pos-search-results
    key=key}}
</div>
