& {
  text-align: center;
  padding: (2 * $padding) 0;
}

.page-error-not-found__title {
  font-family: $font-family-accent;
  font-size: 2.5rem;
}

.page-error-not-found__logo {
  width: 200px;
  margin-top: 2 * $padding;
}

.page-error-not-found__description {
  max-width: 800px;
  margin: (2 * $padding) auto 0;
}

.page-error-not-found__back-button {
  @include button;

  margin-top: 2 * $padding;
  text-decoration: none;
}
