<h1 class="page-error-not-found__title">
  {{t 'page.error_not_found.title'}}
</h1>

<img src="/assets/images/logo-cry-large.png" alt="Oh noes" class="page-error-not-found__logo">

<p class="page-error-not-found__description">
  {{t 'page.error_not_found.description'}}
</p>

<a href="/" class="page-error-not-found__back-button">
  {{t 'page.error_not_found.back_button'}}
</a>