& {
  background-color: $background-light-color;
}

.search-results__header {
  position: relative;
  padding: ($padding / 2) $padding ($padding / 2) ($padding * 2);
}

.search-results__items-wrapper {
  padding: ($padding * 2) $padding;
  background-color: $background-dark-color;
  border-top-left-radius: 50px;
}

.search-results__items-list {
  display: flex;
  flex-direction: column;
}

.search-results__item {
  margin-top: $padding * 2;

  &:first-child {
    margin-top: 0;
  }
}

.search-results__loading {
  padding-top: 30vh;
  font-size: 4rem;
  text-align: center;
}
