<label class="field-min-max__label">{{label}}</label>
<div class="field-min-max__input-wrapper">
  {{input value=minValue class="field-min-max__min form-control" placeholder=(t 'field.min_max.min')}}
  {{input value=maxValue class="field-min-max__max form-control" placeholder=(t 'field.min_max.max')}}
</div>