& {
  display: flex;
  align-items: center;
  padding: 0 $padding;
  height: $navbar-height;
  background-color: lighten($background-light-color, 10%);
}

.navbar__home-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar__home-logo {
  height: 40px;
  width: auto;
}

.navbar__home-title {
  padding-left: $padding;
  font-family: $font-family-accent;
  font-size: 1.5rem;
  color: $white;
}
